# Виртуальное окружение
venv/
env/

# Кэш и временные файлы
__pycache__
*.pyc
*.db
*.sqlite3

# Медиафайлы
media/

# Статика после collectstatic
staticfiles/

# Файлы среды
.env
.env.local
.env.development.local

# ОС специфичные файлы
.DS_Store
Thumbs.db