<!-- templates/accounts/profile.html -->

{% extends "base.html" %}
{% block title %}Профиль пользователя — {{ request.user.username }}{% endblock %}

{% block content %}
    <h2>Профиль пользователя — {{ request.user.username }}</h2>
    <p>Добро пожаловать в ваш профиль!</p>

    <!-- Ссылка на отчёты -->
    <div style="margin-top: 20px;">
        <a href="{% url 'forms_app:my_reports' %}" class="btn">📂 Мои отчёты</a>
    </div>

    <div style="margin-top: 20px;">
        <a href="{% url 'accounts:logout' %}" class="btn">Выход</a>
    </div>
{% endblock %}